env/*
original_data/*
glass_data/*
downloaded_data/*
gsea_files/*
gsea_outputs/*
#cell_lines/gsea_outputs/*
intermediate_files/*
GSEA_4.1.0
tables/*
reports/outputs*
analysis/pca/*RData
.RData
.RHistory
.Rhistory
gsea_uvd_outputs/1000it/*
gene_sets/*v7.4*
gene_sets/TF*
gsea_uvd_outputs/run*
deseq2_uvd/*Rdata
deseq2_uvd/processed*
deseq2/*Rdata
cell_lines/raw_data/
cell_lines/tables/
tissue_slices/*
